[Unit]
Description=WAF API Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/waf-api
Environment="PYTHONPATH=/opt/waf-api"
ExecStart=/usr/local/bin/python3.9 /opt/waf-api/api_server.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target